<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <span class="copyright">Copyright © Premiere Software Development 2018</span>
      </div>
      <div class="col-sm-12 col-md-6 social-buttons">

        <div class="button-wrapper">
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="https://web.facebook.com/EphraimComeHome/" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
          <a href="https://www.youtube.com/playlist?list=PLUsFa09OE2MsIv0AkfTZ3B8CexL-yzPWv"><i class="fa fa-youtube"></i></a>
          <a href="mailto:larry@premieresoftwaredev.com"><i class="fa fa-envelope"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
