<div class="container">
  <div class="row justify-content-around about-row">
    <div class="col about-col">
      <p>
        Premiere Software Development has worked with a number of startups and established
        tech companies to develop mobile and web applications. Premiere Software development leverages an agile software
        development environment that allows for rapid prototyping and feature development. The company also provides IT due-diligence
        consulting and lectures for popular frameworks such as Spring Boot and React.js.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <img class="about-img" src="../../assets/Hendrix_Larry_headshot.png" alt="ephraim logo" height="450"/>
    </div>
    <div class="col"></div>

  </div>
  <div class="row about-row">

    <div class="col about-col">
      <h4>Larry A. Hendrix</h4>
      <h5>Founder, CTO, & Sr. Fullstack Developer</h5>
      <p>
        Larry is Premiere Software Development's founder, Chief Technology Office, and primary developer. Larry has 15
        years of experience in web and mobile software in diverse roles and industries. He is an expert in front-end
        and server-side development.
      </p>
    </div>
  </div>
</div>
