<div class="container dev-services">
  <div class="row">
    <h4>YOUR CUSTOM SOFTWARE DEVELOPMENT PARTNER</h4>
    <p>As a custom software development company, we know every project presents a unique set of requirements and challenges.
      Our experience determines how we tackle and anticipate complex projects with a wide variety of technological approaches
      and solutions. Our goal is to develop the perfect solution for our clients. We work closely with them to understand
      their unique business needs, defining an appropriate, cost-effective solution that works within their budget and
      delivery timeline.</p>
  </div>
  <div class="row">
    <div class="subsection col-sm-4">
      <div class="item__description">
        <img src="/assets/it-consulting.svg" alt="Dedicated Development Teams" class="img-thumbnail">
        <h4 class="item__description-title">IT Consulting</h4>
      </div>
      <div class="item__link">
          <p class="item__link-text">Enlist out top minds to perform a successful digital transformation of your enterprise that goes in line with your business objectives.</p>
      </div>
    </div>
    <div class="subsection col-sm-4">
      <div class="item__description">
        <img src="/assets/mobile-app-dev.svg" alt="Mobile App Developments" class="img-thumbnail">
        <h4 class="item__description-title">Mobile App Development</h4>
      </div>
      <div class="item__link">
          <p class="item__link-text">Meet your demanding deadlines with our mobile app development services that converge a mobile platform, custom development, and the latest tech.</p>
      </div>
    </div>
    <div class="subsection col-sm-4">
      <div class="item__description">
        <img src="/assets/enterprise.svg" alt="Enterprise Software Development" class="img-thumbnail" >
        <h4 class="item__description-title">Enterprise Software Development</h4>
      </div>
      <div class="item__link">
          <p class="item__link-text">Support and streamline your operations with scalable, well-integrated software that incorporates the latest tech and coordinates your other software.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h4>Specialties</h4>
      <ul>
        <li>Angular 5/6</li>
        <li>React.js</li>
        <li>React Native</li>
        <li>Ionic</li>
        <li>RESTful APIs</li>
        <li>Spring Boot</li>
        <li>Python Flask</li>
      </ul>
    </div>

  </div>
</div>
