@import "src/theme/theme-variables";


.home {
  background-color: #eee;
  font-family: "Source Sans Pro", Roboto;
  overflow: hidden;
  .logo {
    width: 100px;
  }

  ngb-carousel {
    .carousel-caption {
      text-shadow: 0 0 0.2em black;
      text-align: center;
      white-space: nowrap;
      font-style: italic;
    }
    img {
      max-height: 27rem;
      width: 100%;
      max-width: 72rem;
      display: block;
      margin: 0 auto;
    }

    .carousel-slide-wrapper {
      background: #eee;
      height: 23rem;
    }
  }

  .row-2 {
    min-height: 350px;
    padding: 40px;
    border-bottom: 1px solid #ddd;
    background-color: white;
  }

  .row-3 {
    min-height: 350px;
    padding: 40px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  .carousel-img {
    width: 100%;
  }

  .subsection {
    text-align: center;
    margin-bottom: 2rem;

    img {
      height: 200px;
      width: 100%;
      max-width: 400px;
      display: block;
      margin: 0 auto 10px auto;
    }

    p {
      font-size: 1rem;
    }

  }

  .events-container {
    height: 100%;
    background: white;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #ddd;

    &:before {
      content: "Events";
      display: block;
      position: absolute;
      font-size: 1.25rem;
      background-color: white;
      color: black;
      left: 56px;
      top: -15px;
      padding: 0px 1rem;
    }


  }
}
/*
@include media-breakpoint-down(md) {

  .home .row-1 .carousel-img {
    height: 100%;
    width: 100%;
  }

  .home .events-container {
    margin-top: 2rem;

    app-event {
      display: inline-block;
      width: 25%;
    }
  }
}

@include media-breakpoint-up(md) {
  .home .subsection {
    .btn {
      position: absolute;
      bottom: -2rem;
      left: calc(50% - 4rem);
      cursor: pointer;
    }
  }


}

*/
